<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.dp_gold_membershipConnectionString"
            connectionString="Data Source=TADI;Initial Catalog=dp-gold-membership;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>